<meta http-equiv="refresh" content="5;url=/login">

<div class="container-fluid">
  <div class="row mt-4">
    <div class="col-md-12 text-center">
      <h2 class="text-success">Welcome to MediCraft</h2>
    </div>
  </div>
  <hr>
  <div class="row mt-4">
    <div class="col-md-12 text-center">
      <h4>Your registration is successful.</h4>
      <h4>Please <%= link_to 'login', login_path %> to start your journey with MediCraft.</h4>
      <br>
      <br>
      <p>Redirecting to login page. <%= link_to 'Redirect Now', login_path %></p>
    </div>
  </div>
</div>
