/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require font-awesome
 *= require_tree .
 *= require_self
 */

* {
  font-family: Menlo, 'PT Mono', Monaco, sans-serif;
}

/* Error Message */
label.error {
  color: #f00 !important;
}

/* Skip Content */
.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  z-index: 100;
}

.skip-link:focus {
  top: 0;
}

.max-height {
  height: calc(100vh - 115px);
  overflow: scroll;
}

.nav-date-picker {
  background: transparent !important;
  opacity: 1 !important;
  cursor: pointer !important;
}

#current_date_root {
  color: initial;
}
