<div class="container">
  <div class="row mt-2" id='patient-appointment-show-details'>
    <%= render partial: 'patients/details.html.erb', locals: { patient: @appointment.patient } %>
  </div>
  <hr>
  <div class="row mt-2" id='appointment-show-details'>
    <%= render partial: 'details.html.erb' %>
  </div>
</div>
