<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 p-0 bg-light border-right">
      <div id="show-appointment-list">
        <%= render partial: 'list_navbar.html.erb' %>
        <%= render partial: 'list.html.erb' %>
      </div>
    </div>
    <div class="col-md-6 p-0 bg-light">
      <%= render partial: 'details_navbar.html.erb' %>
      <div id="show-appointment-details" class="max-height">
      </div>
    </div>
  </div>
</div>
