<div class="modal fade" id="appointmentModal" tabindex="-1" role="dialog" aria-labelledby="appointmentModalLabel" aria-hidden="true"></div>
<div class="modal fade" id="organisationModal" tabindex="-1" role="dialog" aria-labelledby="patientModalLabel" aria-hidden="true"></div>
<div class="modal fade" id="patientModal" tabindex="-1" role="dialog" aria-labelledby="patientModalLabel" aria-hidden="true"></div>
